<body>
<section class="hero is-medium is-primary is-bold">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				HomeMonitor
			</h1>
			<h2 class="subtitle">
				It actually monitors a computer but yeah
			</h2>
		</div>
	</div>
</section>
</body>
<template name="metrics">
	<div class="columns">
		<div class="column">
			<pre id="uptime">{{uptime}}</pre>
			<pre id="load">{{cpus}}</pre>
			<pre id="load">{{memory}}</pre>
			<pre id="load">{{net}}</pre>
		</div>
		<div class="column" style="max-height: 300px; overflow: scroll;">
			{{#each logs}}
				{{> log}}
			{{/each}}
		</div>
	</div>
</template>

<template name="log">
	<p>{{message}}</p>
</template>
